APP_NAME=Inventario Mantenimiento API
ENVIRONMENT=docker
API_PREFIX=/api/v1
FRONTEND_URL=http://localhost

DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/inventario_mantenimiento
CREATE_TABLES_ON_STARTUP=true

SECRET_KEY=cambia-esta-clave-super-secreta
ACCESS_TOKEN_EXPIRE_MINUTES=480

SMTP_ENABLED=false
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=Inventario Mantenimiento
SMTP_FROM_EMAIL=
STOCK_ALERT_EXTRA_RECIPIENTS=